<div class="header border-bottom py-2">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
      <img src="./az7.png" style=" height: 32px;" alt="A7Z Global logo" />
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link px-2">Home</a></li>
      <li><a [routerLink]="['/jobseekers']" class="nav-link px-2">Job Seekers</a></li>
      <li><a [routerLink]="['/contact']" class="nav-link px-2">Contact</a></li>
    </ul>



    <div class="text-end">
      <a href="https://wa.me/918007852312" class="mx-2"><i class="fa fa-whatsapp fa-2x dstyle"></i></a>
      <a href="mailto:info@az7global.com" class="mx-2"><i class="fa fa-envelope fa-2x dstyle"></i></a>
    </div>
  </div>
</div>
