<div class="container">
  <div class="row m-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">Corporate Office</h3>
          <div class="mb-1 text-body-secondary">Pune, Maharastra, India</div>
          <p class="card-text mb-auto">3, Pooja Apartment, Near Chandani Chowk<br/>
            Paud Road, Kothrud, Pune - 411038. INDIA</p>
          <hr/>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>  <span>&nbsp; &#97;&#109;&#111;&#108;&#64;&#97;&#122;&#55;&#103;&#108;&#111;&#98;&#97;&#108;&#46;&#99;&#111;&#109;</span>
          </p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +91 9890-431-421
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="./photome.jpg" style="width:200px" alt="contact me" />
        </div>
      </div>
    </div>
  </div>
</div>
