<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Staffing Services</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">AZ7 serves a global roster of clients ranging from entrepreneurial start-ups to billion dollar multinational corporations.</h2>
      <p class="text-body-secondary">We take pride in the fact that we have facilitated numerous placements & have placed a significant amount of Junior, Middle & Senior Management level staff. Our Recruitment team understands what each role demands and what each company is looking for. We work closely with reputed companies in India and abroad to advise and assist them for their local and overseas, skilled personnel requirements.</p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-4 rounded-3" style="width:70px">
            <i class="fa fa-coffee fa-3x dstyle"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Our People</h4>
          <p class="text-body-secondary">AZ7 people are some of the most creative, forward-thinking, passionate and results-driven people who thrive in a challenging work environment.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-4 rounded-3" style="width:70px">
            <i class="fa fa-diamond fa-3x dstyle"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Internship Program</h4>
          <p class="text-body-secondary">The hands-on consulting experience also prepares the students with relevant work experience to take forth and apply in their future career.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-4 rounded-3" style="width:70px">
            <i class="fa fa-flask fa-3x dstyle"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Freelance Recruiter</h4>
          <p class="text-body-secondary">We offer employees a comfortable work environment and alternative work arrangements so they can grow professionally, enjoy their work, and balance their personal and professional needs.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-4 rounded-3" style="width:70px">
            <i class="fa fa-rocket fa-3x dstyle"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Why Work AZ7</h4>
          <p class="text-body-secondary">At AZ7, your development is closely monitored to ensure that you have the best opportunities to reach your full potential.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis" style="background: url('https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_960_720.jpg')" preload>
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic text-white">A Catalyst for Career Change</h1>
    </div>
  </div>
</div>
