<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background: url('./bg.jpg') top no-repeat">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">AZ7 Global</h1>
      <h3 class="fw-normal text-muted mb-3">We Know, <strong class="text-uppercase">Where</strong> and <strong
          class="text-uppercase">How</strong> to find talent</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="/contact">
          Connect Now
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</main>

<div class="container">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 border border-success rounded-3">
        <h2>About us</h2>
        <p>
          AZ7 Global is proud to be the trusted recruitment partner to world's leading companies and organizations of
          all sizes—including Fortune Global 500, working for them to meet the challenges of hiring. Across India.
          Beyond India.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary rounded-3">
        <h2>Service</h2>
        <p>
          AZ7 serves a global roster of clients ranging from entrepreneurial start-ups to billion dollar multinational
          corporations. we have facilitated numerous placements & have placed a significant amount of Junior, Middle &
          Senior Management level staff.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container my-4">
  <div class="row g-5">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Permanent / Day One Hire:</h2>
        <p class="blog-post-meta">January 1, 2024 by <a href="#">Mark</a></p>
        <p>Attracting and managing human capital is among the top priorities of today's successful companies.
          Accomplishing this requires a business partner that understands your culture, your industry and knows how to
          identify and engage exceptional talent. We also recruit professionals to work directly for you from the start
          as full-time, permanent employees.</p>
        <hr>
        <p>We have an exemplary track record of working with professionally managed Indian companies and MNCs. Our
          recruitment procedures and methods are designed to meet 2 principal objectives:</p>
        <h2>Contract / Contract to Hire</h2>
        <p>We also deploy candidates on project specific need i.e. for short-term or long term assignments. </p>
        <p>We undertake the mobilization of personnel in the specified numbers and their placement at client-identified
          locations through our own team of committed Staffing Solutions members. On request, or at the conclusion of
          the contract period, the deputed personnel are demobilized from the client sites or can be available for the
          permanent position. Clients thus experience the performance and contribution of deputed personnel while
          enjoying the flexibility and freedom to focus on their core business. In addition, all AZ7 Global deputees are
          on our rolls, assuring them of all the benefits and the dignity of a regular employee in a respected company.
        </p>
        <ul>
          <li>The opportunity for organizations to focus on core areas </li>
          <li>Rapid &amp; flexible deployment of resources </li>
          <li>Ease of recruitment and replacement </li>
          <li>Long-term cost advantages </li>
          <li>Reduce HR Administration Function &amp; Cost (Payroll, Accounting, Benefits, Training etc.)</li>
          <li>Retain &amp; attract talent</li>
        </ul>
        <dl>
          <dt>Executive Search</dt>
          <dd>We work with client's organization on an exclusive basis to appoint senior level officials such as
            Directors, CEO, COO, CFO, CIO, VP, GM etc. and other senior level professionals. Our broad reach and deep
            domain expertise coupled with a relentless commitment to quality have been the hallmarks of our success.
          </dd>
          <dt>Turnkey Solutions</dt>
          <dd>We service large-scale recruitment needs of a client through our time and budget-bound approach which
            combines database selection, advertised selection and executive search, and effectively fulfill the client's
            requirement. The process is customized to client needs</dd>
          <dt>Payroll Management</dt>
          <dd>Businesses may decide to outsource their payroll functions to an outsourcing service like a fully managed
            payroll service. These can normally reduce the costs involved in having payroll trained employees in-house
            as well as the costs of systems and software needed to process a payroll.</dd>
        </dl>
      </article>


    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">Job & Placement</h4>
          <p class="mb-0">Leading online job portal in India that connects job seekers with potential employers.
            Since its inception in 1997, Naukri has transformed the recruitment landscape by offering a comprehensive platform</p>
        </div>
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li><a href="#"
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"><svg
                  width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice" focusable="false" class="bd-placeholder-img">
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Target Product Companies</h6><small class="text-body-secondary">January 15,
                    2024</small>
                </div>
              </a></li>
            <li><a href="#"
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"><svg
                  width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice" focusable="false" class="bd-placeholder-img">
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Fresher Placement</h6><small class="text-body-secondary">January 14, 2024</small>
                </div>
              </a></li>
            <li><a href="#"
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"><svg
                  width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice" focusable="false" class="bd-placeholder-img">
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Best skills for 2025</h6><small class="text-body-secondary">January 13, 2025</small>
                </div>
              </a></li>
          </ul>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Bulk Hiring</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">January 2025</a></li>
            <li><a href="#">February 2025</a></li>
            <li><a href="#">March 2025</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
